.preloader-container {
    position: fixed;
    background-color: rgba(0, 0, 0, .1);
    color: var(--white);
    height: 100vh;
    z-index: 10000000;
    width: 100%;
    place-content: center;
}

.hide-preloader {
    transition: all linear .7s;
    -webkit-transition: all linear .7s;
    -moz-transition: all linear .7s;
    -ms-transition: all linear .7s;
    -o-transition: all linear .7s;
    opacity: 0;
}

.preloader,
.preloader::before,
.preloader::after {
    height: 30px;
    width: 30px;
    background-color: var(--green);
    border-radius: 50%;
    -webkit-animation: spin linear .7s infinite;
            animation: spin linear .7s infinite;
}

.preloader::before,
.preloader::after {
    content: '';
    position: absolute;
}

.preloader::before {
    left: 120%;
}

.preloader::after {
    left: -120%;
}

@-webkit-keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}